.root {
  position: relative;
  width: 15px;
  height: 15px;
  align-items: flex-start;
}
.rectangle3036 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #82868c;
}
