.iconColoredUKO.iconColoredUKO {
  left: 44.2424%;
  right: 45.2525%;
  top: 0;
  bottom: 92.0489%;
  width: initial;
  height: initial;
}
.group3239.group3239 {
  left: 5.2px;
  top: 3.4667px;
  width: 41.6px;
  height: 44.5714px;
}
.group3239 {
  left: 5.2px;
  top: 3.4667px;
  width: 41.6px;
  height: 44.5714px;
}
.icon {
  width: 100%;
  height: 100%;
}
.button2.button2 {
  width: 232px;
  padding: 16px 30px 16px 15px;
  outline: solid 1px #babfc5;
  border-radius: 8px;
}
.iconColoredGoogle.iconColoredGoogle {
  z-index: 0;
  width: 15px;
  height: 15px;
}
.group3269.group3269 {
  left: 1px;
  top: 1px;
  width: 13px;
  height: 13px;
}
.group3269 {
  left: 1px;
  top: 1px;
  width: 13px;
  height: 13px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.button {
  color: #3a3c40;
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.button4.button4 {
  width: 232px;
  padding: 16px 30px 16px 15px;
  outline: solid 1px #babfc5;
  border-radius: 8px;
}
.iconColoredFacebook.iconColoredFacebook {
  z-index: 0;
  width: 15px;
  height: 15px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.button3 {
  color: #3a3c40;
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.line.line {
  width: 215px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
}
.rectangle2926.rectangle2926 {
  max-width: 100%;
  max-height: 100%;
  background-color: #babfc5;
}
.line2.line2 {
  width: 215px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
}
.rectangle29262.rectangle29262 {
  max-width: 100%;
  max-height: 100%;
  background-color: #babfc5;
}
.input.input {
  width: 232px;
}
.inputDefaultRacktangleTrueLarg.inputDefaultRacktangleTrueLarg {
  padding: 16px 10px 16px 15px;
  outline: solid 1px #babfc5;
  background-color: #f5f5f791;
}
.label {
  color: #3a3c40;
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 81.0345%;
  top: 0;
  bottom: 76.3889%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.input2.input2 {
  width: 232px;
}
.inputDefaultRacktangleTrueLarg2.inputDefaultRacktangleTrueLarg2 {
  padding: 16px 10px 16px 15px;
  outline: solid 1px #babfc5;
  background-color: #f5f5f791;
}
.label2 {
  color: #3a3c40;
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 82.3276%;
  top: 0;
  bottom: 76.3889%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.input3.input3 {
  width: 492px;
}
.inputDefaultRacktangleTrueLarg3.inputDefaultRacktangleTrueLarg3 {
  padding: 16px 10px 16px 15px;
  outline: solid 1px #babfc5;
  background-color: #f5f5f791;
}
.label3 {
  color: #3a3c40;
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 85.7724%;
  top: 0;
  bottom: 76.3889%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.progress.progress {
  width: 492px;
  height: 4px;
}
.rectangle250.rectangle250 {
  left: 44.4445%;
  right: 54.7425%;
  top: 99.9998%;
  bottom: -6833.3327%;
}
.rectangle239.rectangle239 {
  left: 0%;
  right: 99.126%;
  bottom: -8617.4998%;
  background-color: #ff9777;
}
.checkBox.checkBox {
  width: 19px;
  height: 19px;
}
.rectangle3036.rectangle3036 {
  background-color: #e3e6eb;
}
.button6.button6 {
  width: 491px;
  place-content: center;
  padding: 10px 20px;
  border-radius: 6px;
}
.button5 {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  overflow-y: auto;
}
.signUp {
  color: #121625;
  font-size: 32px;
  font-weight: 800;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.1616%;
  right: 36.9697%;
  top: 14.0673%;
  bottom: 79.9694%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.doYouAlreadyHaveAnAccountLogIn {
  position: absolute;
  left: 21.4141%;
  right: 21.4141%;
  top: 97.2477%;
  bottom: -0.4587%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 14px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label4 {
  color: #1f2738;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label5 {
  color: #2940d3;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.forgotPassword {
  color: #ff6b93;
  font-size: 12px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 77.7778%;
  right: 0;
  top: 60.7034%;
  bottom: 37.0031%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame22 {
  position: absolute;
  left: 3px;
  top: 173px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 28px;
}
.frame19 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 28px;
}
.frame2 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 16px;
}
.or {
  color: #82868c;
  font-size: 18px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame20 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 28px;
}
.frame14 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.notBadButYouKnowYouCanDoItBett {
  color: #ff9777;
  font-size: 10px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame21 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 8px;
}
.iAgreeToTermsConditions {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label6 {
  color: #121625;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label7 {
  color: #2940d3;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
