.root {
  position: relative;
  width: 200px;
  height: 5.5814px;
  align-items: flex-start;
}
.rectangle250 {
  transform-origin: top left;
  position: absolute;
  left: 44.4444%;
  right: 52.7649%;
  top: 100%;
  bottom: -1990.7397%;
  border-radius: 9px;
  background-color: #e3e6eb;
  transform: matrix(0, -1, 1, 0, 0, 0);
}
.rectangle239 {
  transform-origin: top left;
  position: absolute;
  left: 0;
  right: 97%;
  top: 107.4999%;
  bottom: -2515.8321%;
  border-radius: 9px;
  background-color: #2940d3;
  transform: matrix(0, -1, 1, 0, 0, 0);
}
