.root {
  position: absolute;
  left: 496px;
  top: 314px;
  width: 30px;
  height: 30px;
  align-items: flex-start;
  overflow: hidden;
}
.group3239 {
  position: absolute;
  left: 3px;
  top: 2px;
  width: 24px;
  height: 25.7143px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
